<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<form th:action="@{/users}" th:object="${user}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}" style="color:red"></span>
    </div>

    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}" style="color:red"></span>
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>