<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="email">Enter Email: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Create new user"/>
</form>
</body>
</html>